<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Areas</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/admintables.css" th:href="@{/css/admintables.css}"/>
</head>

<body>
<header>
    <ul class="setex">
        <li>
            <a th:href="@{/admin/settings(userId=${userId})}"> Settings</a>
        </li>
        <li>
            <a th:href="@{/authorization}"> Exit</a>
        </li>
    </ul>
    <nav class="panel">
        <ul>
            <li>
                <a th:href="@{/admin/myorders(userId=${userId}, sort='none')}">My orders</a>
            </li>
            <li>
                <a th:href="@{/admin/customers(userId=${userId}, sort='none')}">Customers</a>
            </li>
            <li>
                <a th:href="@{/admin/services(userId=${userId}, sort='none')}">Services</a>
            </li>
            <li>
                <a th:href="@{/admin/areas(userId=${userId}, sort='none')}">Areas</a>
            </li>
            <li>
                <a th:href="@{/admin/orders(userId=${userId}, sort='none')}">Orders</a>
            </li>
            <li>
                <a th:href="@{/admin/admins(userId=${userId}, sort='none')}">Admins</a>
            </li>
            <li>
                <a th:href="@{/admin/templates(userId=${userId}, sort='none')}">Templates</a>
            </li>
        </ul>
    </nav>
</header>
<table>
    <tr>
        <td style="border: none">
            <form>
                <label>
                    ID to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="id"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Name to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="name"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Description to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="description"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
    </tr>
    <tr>
        <td class="header">
            <ul>
                <li style="display: inline">
                    index
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/areas(userId=${userId}, sort='asc', type='id')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="index"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/areas(userId=${userId}, sort='desc', type='id')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="index"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    name
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/areas(userId=${userId}, sort='asc', type='name')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="name"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/areas(userId=${userId}, sort='desc', type='name')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="name"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    description
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/areas(userId=${userId}, sort='asc', type='description')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="login"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/areas(userId=${userId}, sort='desc', type='description')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="login"/>
                    </a>
                </li>
            </ul>
        </td>
    </tr>

    <tr th:each="areaValue : ${table}">
        <form th:method="POST" th:action="@{/admin/areas(userId=${userId})}" th:object="${area}">
            <td>
                <label>
                    <input style = "border: none" type="text" th:name="id" th:id="id" th:value="${areaValue.getId()}" readonly>
                </label>
            </td>
            <td>
                <!--            <form th:method="POST" th:action="@{/admin/areas}" th:object="${area}">-->
                <label>
                    <input type="text" th:name="name" th:id="name"
                           th:value="${areaValue.getName()}" required>
                </label>
            </td>
            <td>
                <!--            <form th:method="POST" th:action="@{/admin/areas}" th:object="${area}">-->
                <label>
                    <input type="text" th:name="description" th:id="description"
                           th:value="${areaValue.getDescription()}" required>
                </label>
            </td>
            <td>
                <input type="submit" value="edit"/>
                <input type="submit" th:formaction="@{/admin/areas/delete(userId=${userId})}" value="delete"/>
        </form>
        </td>
    </tr>
    <tr>
        <form th:method="POST" th:action="@{/admin/areas/create(userId=${userId})}" th:object="${area}">
            <td>
            </td>
            <td>
                <label>
                    <input type="text" th:id="name" field="*{name}" th:name="name" required>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" th:id="description" field="*{description}" th:name="description" required>
                </label>
            </td>
            <td>
                <input type="submit" value="create"/>
            </td>
        </form>
    </tr>
</table>
</body>
</html>