<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/admintables.css" th:href="@{/css/admintables.css}"/>
</head>

<body>
<header>
    <ul class="setex">
        <li>
            <a th:href="@{/admin/home}"> Settings</a>
        </li>
        <li>
            <a th:href="@{/authorization}"> Exit</a>
        </li>
    </ul>
    <nav class="panel">
        <ul>
            <li>
                <a th:href="@{/admin/adminorders}">My orders</a>
            </li>
            <li>
                <a th:href="@{/admin/customers(sort='none')}">Customers</a>
            </li>
            <li>
                <a th:href="@{/admin/services(sort='none')}">Services</a>
            </li>
            <li>
                <a th:href="@{/admin/areas(sort='none')}">Areas</a>
            </li>
            <li>
                <a th:href="@{/admin/orders(sort='none')}">Orders</a>
            </li>
            <li>
                <a th:href="@{/admin/admins(sort='none')}">Admins</a>
            </li>
            <li>
                <a th:href="@{/admin/templates(sort='none')}">Templates</a>
            </li>
        </ul>
    </nav>
</header>
<table>
    <tr>
        <td style="border: none">
            <form>
                <label>
                    ID to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="id"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Name to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="name"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Login to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="login"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Password to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="password"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Balance to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="balance"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Area to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="area"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
    </tr>
    <tr>
        <td class="header">
            <ul>
                <li style="display: inline">
                    index
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='asc', type='id')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="index"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='desc', type='id')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="index"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    name
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='asc', type='name')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="name"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='desc', type='name')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="name"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    login
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='asc', type='login')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="login"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='desc', type='login')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="login"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    password
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='asc', type='password')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="password"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='desc', type='password')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="password"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    balance
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='asc', type='balance')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="balance"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='desc', type='balance')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="balance"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    area
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='asc', type='area')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="area"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/customers(sort='desc', type='area')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="area"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            services id
        </td>
    </tr>
    <tr th:each="customer : ${table}">
        <td class="cell" th:utext="${customer.getID()}">index</td>
        <td class="cell" th:utext="${customer.getName()}">name</td>
        <td class="cell" th:utext="${customer.getLogin()}">login</td>
        <td class="cell" th:utext="${customer.getPassword()}">password</td>
        <td class="cell" th:utext="${customer.getBalance()}">balance</td>
        <td class="cell" th:utext="${customer.getArea().getName()}">area</td>
         <td class="cell">
             <div th:each="service : ${customer.getServices()}">
                 <div th:utext="${service.getID()}">
                     service id
                 </div>
             </div>
         </td>
         <td class="cell">
             <!--            TODO create edit and delete-->
            <a th:href="@{admin/edit}">edit</a>
            <a th:href="@{admin/delete}">delete</a>
        </td>
    </tr>
</table>
</body>
</html>