<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/admintables.css" th:href="@{/css/admintables.css}"/>
</head>

<body>
<header>
    <ul class="setex">
        <li>
            <a th:href="@{/admin/settings(userId=${userId})}"> Settings</a>
        </li>
        <li>
            <a th:href="@{/authorization}"> Exit</a>
        </li>
    </ul>
    <nav class="panel">
        <ul>
            <li>
                <a th:href="@{/admin/myorders(userId=${userId}, sort='none')}">My orders</a>
            </li>
            <li>
                <a th:href="@{/admin/customers(userId=${userId}, sort='none')}">Customers</a>
            </li>
            <li>
                <a th:href="@{/admin/services(userId=${userId}, sort='none')}">Services</a>
            </li>
            <li>
                <a th:href="@{/admin/areas(userId=${userId}, sort='none')}">Areas</a>
            </li>
            <li>
                <a th:href="@{/admin/orders(userId=${userId}, sort='none')}">Orders</a>
            </li>
            <li>
                <a th:href="@{/admin/admins(userId=${userId}, sort='none')}">Admins</a>
            </li>
            <li>
                <a th:href="@{/admin/templates(userId=${userId}, sort='none')}">Templates</a>
            </li>
        </ul>
    </nav>
</header>
<table style="width: 1420px">
    <tr>
        <div><p th:text="${errorMessage}" style="color: #FF0000"></p></div>
        <td style="border: none">
            <form>
                <label>
                    ID to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="id"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Name to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="name"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Description to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="description"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Price to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="price"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Template to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="template"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Customer to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="customer"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
        <td style="border: none">
            <form>
                <label>
                    Status to search: <input type="text" name="valueToSearch"/>
                    <input type="hidden" name="type" value="status"/>
                    <input type="hidden" name="userId" th:value="${userId}"/>
                    <input type="submit" value="Search"/>
                </label>
            </form>
        </td>
    </tr>
    <tr>
        <td class="header">
            <ul>
                <li style="display: inline">
                    index
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='asc', type='id')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="index"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='desc', type='id')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="index"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    name
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='asc', type='name')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="name"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='desc', type='name')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="name"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    description
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='asc', type='description')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="login"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='desc', type='description')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="login"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    price
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='asc', type='price')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="login"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='desc', type='price')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="login"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    template id
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='asc', type='template')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="login"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='desc', type='template')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="login"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    customer id
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='asc', type='customer')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="login"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='desc', type='customer')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="login"/>
                    </a>
                </li>
            </ul>
        </td>
        <td class="header">
            <ul>
                <li style="display: inline">
                    status
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='asc', type='status')}">
                        <img src="../../static/images/arrowUp.png" th:src="@{/images/arrowUp.png}" alt="login"/>
                    </a>
                </li>
                <li style="display: inline">
                    <a th:href="@{/admin/services(userId=${userId}, sort='desc', type='status')}">
                        <img src="../../static/images/arrowDown.png" th:src="@{/images/arrowDown.png}" alt="login"/>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
    <tr th:each="serviceValue : ${table}">
        <form th:method="POST" th:action="@{/admin/services(userId=${userId})}" th:object="${service}">
            <td>
                <label>
                    <input style="border: none" type="text" th:name="id" th:id="id" th:value="${serviceValue.getId()}"
                           readonly>
                </label>
            </td>
            <td>
                <label>
                    <input style="border: none" type="text" name="name" th:id="name"
                           th:value="${serviceValue.getName()}" readonly>
                </label>
            </td>
            <td>
                <label>
                    <input style="border: none" type="text" name="description" th:id="description"
                           th:value="${serviceValue.getDescription()}" readonly>
                </label>
            </td>
            <td>
                <label>
                    <input style="border: none" type="text" name="price" th:id="price"
                           th:value="${serviceValue.getPrice()}" readonly>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" name="templateId" th:id="templateId"
                           th:value="${serviceValue.getTemplate().getId()}" required>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" name="customerId" th:id="customerId"
                           th:value="${serviceValue.getCustomer().getId()}" required>
                </label>
            </td>
            <td>
                <p><label>
                    <select name="status" id="status" required>
                        <option data-th-each="status : ${statuses}" th:value="${status}" th:text="${status}"
                                th:selected="${status.equals(serviceValue.getStatus().toString())}">

                        </option>
                    </select>
                </label></p>
            </td>
            <td>
                <input type="submit" value="edit"/>
                <input type="submit" th:formaction="@{/admin/services/delete(userId=${userId})}" value="delete"/>
            </td>
        </form>
    </tr>
    <tr>
        <form th:method="POST" th:action="@{/admin/services/create(userId=${userId})}" th:object="${service}">
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <label>
                    <input type="text" th:id="templateId" field="*{templateId}" th:name="templateId" required>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" th:id="customerId" field="*{customerId}" th:name="customerId" required>
                </label>
            </td>
            <td>
                <p><label>
                    <select name="status" id="status" required>
                        <option selected hidden></option>
                        <option data-th-each="status : ${statuses}" th:value="${status}" th:text="${status}">
                        </option>
                    </select>
                </label></p>
            </td>
            <td>
                <input type="submit" value="create"/>
            </td>
        </form>
    </tr>
</table>
</body>
</html>