.setex{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 1em;
    grid-auto-rows : minmax(50px,auto);
    justify-items: center;
    align-items: center;
}
.box{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1em;
    grid-auto-rows : minmax(70vh,auto);
    justify-items: start;
    align-items: center;
}
nav.panel {
    margin-top: 30px;
    font-size: 22px;
    letter-spacing: 1px;
}
nav.panel ul {
    display: flex;
}
nav.panel ul li{
    list-style-type: none;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
}
nav.panel ul li a{
    padding: 50px 0;
    display: block;
}

table {
    margin: 10px;
    width: 1500px;
    border-collapse: collapse; /* Отображать двойные линии как одинарные */
    border-spacing: 10px;
}
form {
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}
td, th {
    opacity: 0.8;
    background-color: black;
    border: 1px solid #000000; /* Параметры границы */
    padding: 4px; /* Поля в ячейках */
    text-align: center;
}
A:link {
    color: yellow;
    text-decoration: none;
 }
A:visited {color: yellow;
text-decoration: none;}
A:active { color: yellow;
text-decoration: none;}
A:hover {color: yellow;
 text-decoration: none;}
body{
 background-image: url('https://cdnb.artstation.com/p/assets/images/images/014/665/033/original/yargon-kerman-webp-net-gifmaker-39.gif?1544919451');
    background-size: cover;
    color: yellow;
    height: 100vh;
    width: 100wh
    padding:0;
    margin:0;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1em;
  grid-auto-rows : minmax(100px,auto);
  justify-items: center;
  align - items: center;
}
.wrapper > div{
  padding:1em;
  background-color: black;
}
