<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer page</title>
</head>
<body>
<table>
    <tr>
        <td  style="vertical-align: center; text-align: center;">
            <th th:text="'Hello, ' + ${name} + '!'"> </th>
            <th style="width: 1500px"></th>
            <th th:text=${balance}"> </th>
            <th > <input type="submit" value="Settings"/></th>
            <th > <input type="submit" value="Exit"/></th>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td style="height: 200px; vertical-align: center; text-align: center; width: 100px">
            <th th:text="${services}"></th>
        </td>
    </tr>
</table>
</body>
</html>