<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/background.css" th:href="@{/css/background.css}"/>
</head>
<body>
<table>
    <tr>
        <td style="height: 700px; vertical-align: center; text-align: center; width: 1500px">
            <div><p th:text="${errorMessage}" style="color: #FF0000"></p></div>
            <form th:action="@{/registration}" method="post" >
                <div><label> Your Name : <input type="text" name="username" th:value="${username}"/> </label></div>
                <div><label> Login : <input type="text" name="login" th:value="${login}"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><label> Confirm password: <input type="password" name="passwordConfirm"/> </label></div>
                <div><input type="submit" value="Sign In"/></div>
            </form>
        </td>
    </tr>
</table>
</body>
</html>