<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Settings page</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/customertables.css" th:href="@{/css/customertables.css}"/>
</head>
<body>
<div class="box">
    <div> </div>
    <div><p th:text="${errorMessage}" style="color: #FF0000"></p>
            <form th:action="@{/settings(id=${id})}" method="post">
                <div><label> Username : <input type="text" name="username" th:value="${username}"/> </label></div>
                <div><label> Password: <input type="text" name="password"th:value="${password}"/> </label></div>
                <div><label> Area: <select name="area" id="area" required>
                    <option data-th-each="area: ${areas}" th:value="${area}" th:text="${area}"
                            th:selected="${area.equals(customer.getArea().getName())}">
                    </option>
                </select>
                </label>
                </div>
                <div><input type="submit" value="Apply"/></div>
            </form>
            <div style="text-align: center;"><a th:href="@{/customer/customerpage(id= ${id})}">back</a></div>
    </div>
</div>
</body>
</html>