<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer page</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/customertables.css" th:href="@{/css/customertables.css}"/>
</head>
<body>
<header>
    <ul class="setex">
        <li>
            <a th:text="'Hello,' + ${name} + '!'"></a>
        </li>
        <li>
            <a th:text="${balance}"> </a>
            <a th:href="@{/settings}"> Settings</a>
            <a th:href="@{/authorization}"> Exit</a>
        </li>
    </ul>
    <nav class="panel">
        <ul>
            <li>
                <a th:href="@{/customer/activeservices(id=${id})}">Active Services</a>
            </li>
            <li>
                <a th:href="@{/customer/avaibleservices(id=${id})}">Avaible Services</a>
            </li>

        </ul>
    </nav>
</header>
<table>
    <tr>
        <td style="border: none" th:each="template : ${table1}">
                <p class="cell" th:utext="${template.getName()}">name</p>
                <p  class="cell" th:utext="${template.getPrice()}">price</p >
                <p  class="cell" th:utext="${template.getDescription()}">description</p>
                <form  th:action="@{/customer/avaibleservices(id=${id})}" method="post">
                    <input type="hidden" name="template" th:value="${template.getName()}"/>
                    <input type="submit" value="Connect"/>
                </form >
        </td>
    </tr>
    <tr>
        <td style="border: none" th:each="template : ${table2}">
                <p class="cell" th:utext="${template.getName()}">name</p>
                <p  class="cell" th:utext="${template.getPrice()}">price</p >
                <p  class="cell" th:utext="${template.getDescription()}">description</p>
                <form  th:action="@{/customer/avaibleservices(id=${id})}" method="post">
                    <input type="hidden" name="template" th:value="${template.getName()}"/>
                    <input type="submit" value="Connect"/>
                </form >
        </td>
    </tr>
</table>
</body>
</html>