<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer page</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/customertables.css" th:href="@{/css/customertables.css}"/>
</head>
<body>
<header>
    <div class="setex">
        <div>
            <a th:text="'Hello,' + ${name} + '!'"></a>
        </div>
        <div> </div>
        <div>
            <a th:text="${balance}"> </a>
            <a th:href="@{/settings(id= ${id})}"> Settings </a>
            <a th:href="@{/authorization}"> Exit</a>
        </div>
    </div>
    <nav class="panel">
        <ul>
            <li>
                <a th:href="@{/customer/activeservices(id=${id})}">Active Services</a>
            </li>
            <li>
                <a th:href="@{/customer/avaibleservices(id=${id})}">Avaible Services</a>
            </li>

        </ul>
    </nav>
</header>
<div class="wrapper">
    <div th:each="template : ${table}">
                <p th:text="${errorMessage}" style="color: #FF0000"></p>
                <p class="cell" th:utext="${template.getName()}">name</p>
                <p  class="cell" th:utext="${template.getPrice()}">price</p >
                <p  class="cell" th:utext="${template.getDescription()}">description</p>
                <form  th:action="@{/customer/avaibleservices(id=${id})}" method="post">
                    <input type="hidden" name="template" th:value="${template.getId()}"/>
                    <input type="submit" value="Connect"/>
                </form >
    </div>
</div>
</body>
</html>