<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer page</title>
         <link rel="stylesheet" type="text/css" media="all"
            href="../../static/css/customertables.css" th:href="@{/css/customertables.css}"/>
  </head>
<body>
<header>
    <div class="setex">
        <div>
            <a th:text="'Hello,' + ${name} + '!'"></a>
        </div>
        <div> </div>
        <div>
            <a th:text="${balance}" href="#okno"> </a>
            <a th:href="@{/settings(id= ${id})}"> Settings </a>
            <a th:href="@{/authorization}"> Exit</a>
        </div>
        <div> </div>
        <div> </div>
        <div href="#" id="okno">
            <form th:action="@{/customer/okno(id=${id})}" method="post">
                <div><label> New balance : <input type="text" name="balance" th:value="${balance}"/> </label></div>
                <div><input type="submit" value="Accept"/></div>
            </form>
        </div>
    </div>
    <nav class="panel">
        <ul>
            <li>
                <a th:href="@{/customer/activeservices(id= ${id})}">Active Services</a>
            </li>
            <li>
                <a  th:href="@{/customer/avaibleservices(id= ${id})}">Avaible Services</a>
            </li>

        </ul>
    </nav>
</header>
   </body>
   </html>